%h3 Time
%table
  %tr
    %td.bold Time start
    %td.right #{status[:time_start]}
  %tr
    %td.bold Time stop
    %td.right #{status[:time_stop]}
  %tr
    %td.bold Time elapsed:
    %td.right #{status[:time_elapsed]}
